# Arquivos de ambiente
.env
.env.*

# Ambientes virtuais
venv/
ENV/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# Banco 
data/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
