<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Studio Alivio - Tic Tac Toe</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
  <link
    href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Irish+Grover&family=Montserrat:wght@400;500;700&display=swap"
    rel="stylesheet">
</head>
<body class="body-landing">

<header class="header">
  <a href="{{ url_for('index') }}" class="logo">
    <div class="logo-img">
      <img src="{{ url_for('static', filename='assets/images/logo-image.png') }}" alt="">
    </div>
    <div class="logo-name">Studio<span class="detail-logo">Alivio</span></div>
  </a>
  <div class="header-buttons">
    <a href="{{ url_for('auth.login') }}" class="btn-header login">Login</a>
    <a href="{{ url_for('signup') }}" class="btn-header signup">Sign Up</a>
  </div>
</header>

<main class="main-landing">
  <h1 class="game-title">
    <span class="detail-red">T</span><span class="detail-blue">I</span>C
    <span class="detail-red">T</span><span class="detail-blue">A</span>C
    <span class="detail-red">T</span><span class="detail-blue">O</span>E
  </h1>
  <a href="{{ url_for('auth.login') }}" class="btn-play">Let's Play</a>
  <div class="links">
    <a href="{{ url_for('ranking') }}">Ranking</a>
    <span class="bar-space">|</span>
    <a href="#about">About Us</a>
  </div>

  <footer class="footer">
    <div class="footer-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Use</a>
      <a href="#">Support</a>
    </div>
    <p>© 2025 Studio Alivio</p>
  </footer>
</main>

</body>
</html>